html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  text-align: center;
  margin: 32px 0;
  color: black;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  font-size: 14px;
}

a {
  text-decoration: underline;
  color: black;
}
